<h1>{{title}}</h1>
<p>Welcome to {{title}}</p>

<form action="/charge" method="POST">
  <script
    src="https://checkout.stripe.com/checkout.js" class="stripe-button"
    data-key="{{ publishableKey }}"
    data-amount="100"
    data-name="My eBook"
    data-description="This is an example description for my eBook."
    data-image="https://stripe.com/img/documentation/checkout/marketplace.png"
    data-locale="auto">
  </script>
</form>
